body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4e4e4e;
    color: #FFFFFF;
  }
  
  .box {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;

  }
  
  .occupied {
    background-color: #0000FF;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  .empty {
    background-color: #FFFFFF;
    color: #000000;
  }
